NODE_ENV=development
PORT=3000
GCS_BUCKET=villarrica-ciudadano.appspot.com
GCS_PROJECT_ID=villarrica-ciudadano
GOOGLE_APPLICATION_CREDENTIALS=./dummy-service-account.json
STORAGE_EMULATOR_HOST=http://localhost:9199
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIRESTORE_EMULATOR_HOST=localhost:8080
JWT_SECRET=dev-secret-change-in-prod
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
