NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciudadano
DB_USER=postgres
DB_PASSWORD=postgres
GCS_BUCKET=ciudadano-images-dev
GCS_PROJECT_ID=villarrica-denuncia-ciudadana
GOOGLE_APPLICATION_CREDENTIALS=./dummy-service-account.json
STORAGE_EMULATOR_HOST=http://localhost:9199
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
JWT_SECRET=dev-secret-change-in-prod
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
